<?xml version="1.0"?>
<config>
	<id>widget x-community-2-bottom-latest</id>
	<type>widget</type>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Community 2 Post Latest Thumbnails</en>
		<ko>Community 2 Post Latest Thumbnails</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest post with thumbnail.</en>
		<ko>Displays latest post with thumbnail.</ko>
	</short>
	<detail>
		<en>Displays latest post with thumbnail and post information.</en>
		<ko>Displays latest post with thumbnail and post information.</ko>
	</detail>
</config>
